.jumbotron {
  background-image: url('../img/site_showcase_bg.jpg');
  height: 500px;
}

.jumbotron { color: white; }
.jumbotron h1 span { color: #1caa98; }

.site-phone {
  background-image: url('../img/site_phone.png');
  background-repeat: no-repeat;
  height: 450px;

}

.no-border {
  border: 0;
  padding: 10px;
}

.border-gris {
  border: 1px solid grey;
}